@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
  margin: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDE7DC;
}

h1 {
  font-family: "Raleway";
  font-weight: 10;

}

#homeText {
 
  font-family: "Raleway";
  font-weight: 10;
  color: white;
  font-size: 20px;
}


h6 {
  font-size: 12px;
  color: gray;
  font-style: italic;
  padding: 10px;
}