.signout{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8FA6CB;
    width: 100%;
    height: 900px;
    color: white;
    
}

.signout_container{
    padding-bottom: 300px;
    margin: 20px;
}